#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to Weather Top
    </h1>
    <p>
        This app is used to view the weather at given stations. Readings can be added to and deleted from stations.
        New stations can also be added by the user.
    </p>
    <p>
        Please sign up or login using the menu above.

    </p>
    <img class="ui centered medium image" src="/public/images/weatherTop5.jpg">
</section>

